* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 1em;
}

section .container-tabla {
    margin: 1em;
}
.container-tabla {
    border: 1px solid black;
    
}
th, td{
    border: 1px solid black;
    padding: 1em;
    border: 1px solid black;
}